.questions .question-component {
  border-bottom: 1px solid #e7e7e9;
}
.questions .question-component .clickable-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.questions .question-component .clickable-container:hover {
  cursor: pointer;
}
.questions .question-component .clickable-container:hover .question-text {
  color: #f47c57;
}
.questions .question-component .clickable-container:hover .btn {
  cursor: pointer;
}
.questions .question-component .clickable-container .question-text {
  font-weight: normal;
}
.questions .question-component .clickable-container .btn {
  width: 10px;
  background: url("../../images/icon-arrow-down.svg") no-repeat center center;
  border: none;
  transform: rotate(0deg);
  transition: all 0.4s;
}
.questions .question-component .answer {
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s;
  color: #4a4b5e;
}
.questions .question-component.active .clickable-container .question-text {
  font-weight: bold;
}
.questions .question-component.active .clickable-container .btn {
  transform: rotate(180deg);
}
.questions .question-component.active .answer {
  padding-bottom: 1rem;
}

:root {
  font-size: 14px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #af67e9;
  background: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  color: #1d1e35;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  min-height: 380px;
  max-width: 700px;
  margin: 15vh auto 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 30px 20px #4b4d86;
}
.card .half-1 {
  flex: 1;
  background: url("../images/illustration-woman-online-desktop.svg") no-repeat 100% center, url("../images/bg-pattern-desktop.svg") no-repeat 100% 70%;
  background-size: 120%, 270%;
  position: relative;
}
.card .half-1 .box {
  width: 45%;
  position: absolute;
  top: 43%;
  left: -22%;
  transition: left 0.4s;
}
.card .half-1 .box.question-hover {
  left: -30%;
}
.card .half-1 .box2 {
  display: none;
}
.card .half-2 {
  flex: 1;
  padding: 30px 10% 0 5%;
}
.card .half-2 .questions .question-component:last-child {
  margin-bottom: 40px;
}
.card .half-2 .questions .question-component .clickable-container .question-text {
  padding-right: 15px;
}
.card .half-2 .questions .question-component .answer {
  padding-right: 15px;
}

@media screen and (max-width: 835px) {
  .card {
    margin: 15vh 60px;
  }
}
@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    margin: 20vh 20px 0;
    min-height: unset;
    max-width: none;
  }
  .card .half-1 {
    background: url("../../images/bg-pattern-mobile.svg") no-repeat top center/contain;
    position: static;
    flex: unset;
    height: 10%;
  }
  .card .half-1 .box {
    display: none;
  }
  .card .half-1 .box.question-hover {
    top: unset;
  }
  .card .half-1 .box2 {
    display: block;
    margin: -28% 10% 10px;
    width: 70%;
  }
  .card .half-2 {
    flex: unset;
    padding: 0 10% 30px;
  }
  .card .half-2 h1 {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
