:root {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-soft-violet; //fallback
    background: linear-gradient($color-soft-violet, $color-soft-blue);
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    width: 60vw;
    min-height: 70vh;
    margin: 15vh auto;
    display: flex;
    justify-content: space-around;
    background-color: $color-white;
    border-radius: 30px;

    .half-1 {
        flex: 1;
        background: 
            url('../images/illustration-woman-online-desktop.svg') no-repeat 100% center,
            url('../images/bg-pattern-desktop.svg') no-repeat 100% 70%;
            ;
            background-size: 120%,270%;
    }
    
    .half-2 {
        flex: 1;
        padding: 30px 10% 0 5%;
    }
}