:root {
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $color-soft-violet; //fallback
    background: linear-gradient($color-soft-violet, $color-soft-blue);
    font-family: 'Kumbh Sans', sans-serif;
    color: $color-dark-blue;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    min-height:380px;
    max-width: 700px;    
    margin: 15vh auto 0;
    display: flex;
    justify-content: space-around;
    background-color: $color-white;
    border-radius: 30px;
    box-shadow: 0 30px 20px hsl(238, 28%, 41%);

    .half-1 {
        flex: 1;
        background: 
            url('../images/illustration-woman-online-desktop.svg') no-repeat 100% center,
            url('../images/bg-pattern-desktop.svg') no-repeat 100% 70%;
        background-size: 120%,270%;
        position: relative;

        .box {
            width: 45%;
            position: absolute;
            top:43%;
            left:-22%;
            transition: left .4s;

            &.question-hover {
                left:-30%;
            }
        } 

        .box2 {
            display: none;
        }
    }
    
    .half-2 {
        flex: 1;
        padding: 30px 10% 0 5%;

        .questions {
            .question-component {
                &:last-child {
                    margin-bottom: 20px;
                }

                .clickable-container {
                    .question-text {
                        padding-right: 15px;
                    }
                }

                .answer {
                    padding-right: 15px;
                }
            }
        }
    }
}