.questions {
    padding: 0 20% 0 0;

    .question-component {

        div {
            .question-text {
                // color: red;
            }

            .btn {
                float: right;
            }
        }

        .answer {
            overflow: hidden;
            height:0;
            transform: scaleY(0);
            box-sizing: border-box;
            // border: 1px solid red;
            padding: 0.5rem 0;
            border-bottom: 1px solid $color-gray;

            // transition: all 0.3s;
            
            &.shown {
                height: auto;
                transform: scaleY(1);
            }
        }
    }
}