.questions {
    padding: 0 20% 0 0;

    .question-component {

        div {
            display: flex;
            justify-content: space-between;

            .question-text {
                font-weight: normal;
                &:hover {
                    color:$color-orange;
                }
            }

            .btn {
                width: 10px;
                background: url('../../images/icon-arrow-down.svg') no-repeat center center/cover;
                border: none;
            }
        }

        .answer {
            overflow: hidden;
            max-height:0;
            border-bottom: 1px solid $color-gray;
            transition: all .4s;
        }

        &.active {
            .question-text {
                font-weight: bold;
            }

            .answer {
                // padding: 0.5rem 0;
            }
        }
    }
}