@media screen and (max-width:835px){
    .card {
        margin: 15vh 60px;       
    }
}

@media screen and (max-width:480px){
    .card {
        // background-color: purple;
        flex-direction:column;
        margin: 15vh 20px 0;
        min-height: unset;
        max-width: none;
        
        .half-1 {
            background: url('../../images/bg-pattern-mobile.svg') no-repeat top center/contain;
            position: static;
            flex: unset;
            height: 10%;
            
            .box {
                display: none;

                &.question-hover {
                    top:unset;
                }
            } 
            
            .box2 {
                display: block;
                margin: -28% 10% 10px;
                width: 70%;
            }
        }
        
        .half-2 {
            flex: unset;
            padding: 0 10% 30px;
            h1 {
                text-align: center;
            }
        }
    }
}